body {background-color:black;}
h1{color:GrayText;}


#rectangle{
    width:500px;
    height:325px;
    background:white;
	position:fixed;
    top:10;
    left:40;
	border-radius:25px;
	padding-left:20;
	align:center;
}

label {
        display: inline-block;
        width: 150px;
      }

div {
    display: table;
    vertical-align: middle;
    height: 30px;
	padding-left: 30px;
}